/*
form display
 */
form {
    width: 600px;
}

label {
    font-size: 25px;
}

input, select {
    min-width: 300px;
    width: 100%;
    margin: 5px 0px 15px 0px;
    border-radius: 3px;
    border-color: rgba(149, 150, 151, 0.55);
    font-size: 20px;
}

button {
    font-size: 20px;
    color: white;
    border-radius: 3px;
    border-color: transparent;
    padding: 5px 10px;

    background-color: #9b4dca;
    cursor: pointer;
}
button:hover
{
    background-color: grey;
}
#content
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.questionsTable {

}

@media (min-width: 900px) {
    .questionsTable
    {
        width:  calc(100%/2 - 60px);
        margin: 0 10px;
    }
}
@media (max-width: 899px) {
    .questionsTable
    {
        width:  80%;
        margin: 0 10px;
    }
}

.questionsTable .row
{
    width: 90%;
    margin-left: 5%;
    display: flex;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: #e1e1e1 1px solid;

}
.label,.type
{
    box-sizing: border-box;
    word-break: break-word;
    display: flex;
    padding-left: 0.5em;
    width: 50%;
}