body
{
    background-color: rgba(255, 0, 0, 0.05);;
}
#msg
{
    display: block;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 50px;
    border-radius: 20px;
    opacity: .5;
    word-break: break-word;
}
#msg h1
{
    padding-bottom: 5px;
    border-bottom: rgba(128,121,121,0.5) 2px solid;
}

@media (min-width: 900px) {
    #msg{
        margin-top: 10%;
    }
}
