table
{
    width: 85%;
    text-align: left;
}
th
{
    border-bottom: #e1e1e1 1px solid;
    font-weight: 100;
    padding: 1.2em 1.5em;
}
thead th
{
    font-weight: bold;
}
thead th a
{
    color: #9b4dca;
    text-decoration: none;
}
tbody th a
{
    color: #9b4dca;
    text-decoration: none;
}
a:hover
{
    color: #606c76;
}
#content h1 {
    width: 100%;
    margin-left: 10%;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 0.8em;
    margin-top: 0;
}
.question
{
    width: 75%;
    padding-bottom: 1em;
}
.title
{
    font-weight: bold;
}
.answer
{
    padding-top: 5px;
    padding-left: 1.5em;
}
.green
{
   color: #419d78;
}