@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin: 0;
    background-color: rgba(222, 222, 222, 0.2);
    color : #606c76;
}
a{
    text-decoration: none;
}
/*
Color by section
 */
.home, .take
{
    background-color: #9b4dca;
    color: white;
}
.create, .modify
{
    background-color: #e0a458;
    color: white;
}
.manage, .results {
    background-color: #419d78;
}
.error
{
    background-color: rgba(214, 5, 12, 0.74);
    color: white;
}
/*
disable link decoration
 */
a {
    text-decoration: none;
}

/*
 flex the content!
 */
#content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.homeChild
{
    text-align: center;
    color: white;
    margin: 10px;
    height: 40px;
    padding-top: 20px;
    border-radius: 5px;
}
.homeChild:hover
{
    background-color: grey;
}

/*
for large screen, display 3 buttons.
 */
@media (min-width: 700px) {
    .homeChild {
        width: 25%;
    }
}

/*
for small screen, display 1 button.
 */
@media (max-width: 699px) {
    .homeChild {
        width: 100%;
    }
}
.title
{
    width: 85%;
}