@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin: 0;
}

/*
Color by section
 */
.take {
    background-color: #9b4dca;
}
.create, .modify {
    background-color: #e0a458;
}
.manage {
    background-color: #419d78;
}

/*
disable link decoration
 */
a {
    text-decoration: none;
}

/*
 flex the content!
 */
#content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.homeChild
{
    text-align: center;
    color: white;
    margin: 10px;
    height: 40px;
    padding-top: 20px;
    border-radius: 5px;
}
.homeChild:hover
{
    background-color: grey;
}
/*
form display
 */
form {
    width: 600px;
}

label {
    font-size: 25px;
}

input {
    min-width: 300px;
    width: 100%;
    margin: 5px 0px 15px 0px;
    border-radius: 3px;
    border-color: rgba(149, 150, 151, 0.55);
    font-size: 20px;
}

button {
    font-size: 20px;
    color: white;
    border-radius: 3px;
    border-color: transparent;
    padding: 5px 10px;

    background-color: #9b4dca;
}

/*
for large screen, display 3 buttons.
 */
@media (min-width: 900px) {
    .homeChild {
        width: 25%;
    }
}

/*
for small screen, display 1 button.
 */
@media (max-width: 899px) {
    .homeChild {
        width: 100%;
    }
}